
.simple-todo h1 {
    text-align: center;
    color: #775;
}

.simple-todo div {
    color: #577;
    background-color: #fed;
}

.simple-todo div div div div div div div div {
    background-color: #badafa;
}

.H5Gizmo-stack {
    background-color: white;
}